#mainNav {
    background-color: #533E85;
}

header.masthead {
    color: #488FB1;
}



.btn-primary {
    background-color: #488FB1;
    border-color: #488FB1;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
    font-family: 'fantasy';
}